/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-ene-2015, 17:53:28
    Author     : aitkiar
*/
label.formulario {
    display:inline-block;
    width:15%;
    font-weight: bold;
    padding:0.5em;
    margin-left: 0.5em;
    border-bottom: dotted 1px black;
}

div.caja {
    display:inline-block;
    width:80%;
    float:right;
    overflow:auto;
}

input[type="text"] {
    width:80%;
}

input[type="password"] {
    width:80%;
}

textarea {
    width:80%;
}

select {
    width:80%;
}

input[type="submit"] {
    width:10em;
    margin-right:2em;
}

div.botonera {
    clear:both;
    width:95%;
    margin:auto;
    text-align: right;
    padding-top:1em;
}